.search-form {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input {
  min-width: 340px;
  height: 40px;
  border: 2px solid rgb(245, 197, 24);
  border-radius: 5px;
  background-color: #fff;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-form button {
  height: 40px;
  background-color: rgb(245, 197, 24);
  border: 2px solid rgb(245, 197, 24);
  border-radius: 5px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: rgb(230, 177, 1);
  border-color: rgb(230, 177, 1);
}

.logo {
  display: block;
  width: auto;
  height: 40px;
  margin-right: 16px;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
}
